<div class="sidebar-panel">
  <h3>{{ i18n "categoriesTitle" }}</h3>

  <ul class="category-list">
    {{ range $name, $items := .Site.Taxonomies.categories }}
      <li>
        <a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower }}">
          <i class="fa fa-archive"></i>{{ $name | humanize | title }}
        </a>
      </li>
    {{ end }}
  </ul>
</div>
