<div class="sidebar-panel">
  <h3>{{ i18n "tagsTitle" }}</h3>

  <ul class="tag-list">
    {{ range $name, $items := .Site.Taxonomies.tags }}
      <li>
        <a href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower }}">
          <i class="fa fa-tags"></i> {{ $name }}
        </a>
      </li>
    {{ end }}
  </ul>
</div>
