<div class="sidebar-container">
  <div class="content">
    {{ .Content }}
  </div>
  <div class="sidebar">
    <h3 class="contact-sidebar-uppercase-text"> {{ i18n "contactAddrTitle1" }}</h3>
    {{ .Site.Params.contactPageSidebar | safeHTML }}
  </div>
</div>
