<header>
  <div class="header-small">
    <a href="/">
      <img src="/img/logo-small.png" height="47" width="110">
    </a>

    <label for="expand-header-checkbox" class="expand-header-button">
      <!-- these divs will become the hamburger icon due to the CSS -->
      <div></div>
      <div></div>
      <div></div>
    </label>
  </div>
  <div class="header-large">
    <a href="/">
      <img src="/img/logo.png" width="220" height="49">
    </a>
  </div>

  <input type="checkbox" id="expand-header-checkbox">

  <nav>
    {{ range .Site.Menus.main }}
      <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
  </nav>
</header>
