<section class="post">
  <div class="image">
    <a href="{{ .Permalink }}">
      {{ if .Params.banner }}
        <img src="{{ .Site.BaseURL }}{{ .Params.banner }}" alt="">
      {{ else }}
        <img src="{{ .Site.BaseURL }}img/placeholder.png" alt="">
      {{ end }}
    </a>
  </div>
  <div class="text">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="author-category-and-date">
      <p class="author-and-category">
        {{ if isset .Params "author" }}
        {{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a>
        {{ end }}
        {{ if isset .Params "categories" }}
        {{ if gt (len .Params.categories) 0 }}
        in <a href="{{ $.Site.BaseURL }}categories/{{ index .Params.categories 0 | urlize | lower }}">{{ index .Params.categories 0 }}</a>
        {{ end }}
        {{ end }}
      </p>
      <p class="date">
        <a href="{{ .Permalink }}"><i class="fa fa-calendar-o"></i>{{ .Date.Day }}. {{ index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}</a>
      </p>
    </div>
    <p class="intro">{{ .Description }}</p>
    <p class="read-more-button-wrapper">
      <a href="{{ .Permalink }}" class="button read-more-button">{{ i18n "continueReading" }}</a>
    </p>
  </div>
</section>
