{{ $sortedItems := sort $.Site.Data.anxicon ".title" }}

{{ $scratch := newScratch }}

<div class="anxiconletterindex">
  {{ $scratch.Set "lastStartLetter" "" }}
  {{ range $sortedItems }}
    {{ $lastStartLetter := $scratch.Get "lastStartLetter" }}
    {{ $nextStartLetter := upper (substr .title 0 1) }}

    {{ if ne $lastStartLetter $nextStartLetter }}
      <a href="#{{ $nextStartLetter | anchorize }}">{{ $nextStartLetter }}</a>
    {{ end }}

    {{ $scratch.Set "lastStartLetter" $nextStartLetter }}
  {{ end }}
</div>

{{ $scratch.Set "lastStartLetter" "" }}
{{ range $sortedItems }}
  {{ $lastStartLetter := $scratch.Get "lastStartLetter" }}
  {{ $nextStartLetter := upper (substr .title 0 1) }}

  {{ if ne $lastStartLetter $nextStartLetter }}
  <br>
  <h4 id="{{ $nextStartLetter | anchorize }}">{{ $nextStartLetter }}</h4>
  {{ end }}
  <p id="{{ .title | anchorize }}">{{ .text | markdownify }}</p>

  {{ $scratch.Set "lastStartLetter" $nextStartLetter }}
{{ end }}
