<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    {{ partial "breadcrumbs.html" . }}

    <div class="padding-container main-content">
      {{ if isset .Params "id" }}
        {{ partial .Params.id . }}
      {{ else }}
        {{ .Content }}
      {{ end }}
    </div>

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
