<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    {{ partial "breadcrumbs.html" . }}

    <div class="padding-container main-content">
      <div class="sidebar-container">
        <div class="content">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
          {{ range $paginator.Pages }}
            {{ partial "post-list-item.html" . }}
          {{ end }}

          {{ partial "post-list-pager.html" . }}
        </div>
        <div class="sidebar">
          {{ partial "sidebar.html" . }}
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
